
.cityCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 150px;
  width: 600px;

}

.cityCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 250px;
  height: 70px;
  border: 2px solid;
  padding: 15px 15px;
  border-radius: 10px;
}

.cardUpdated{
  font-weight: 500;
  font-size: 11px;
  
}
.cardLocationPrimary{
font-size: 16px;
font-weight: 700;
color: purple;

}
.cardLocationSecondary{
  font-size: 11px;
 
}
.cardValues{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 11px;
}

.cardMeasure{
  margin: 2px 0;
}
