
.cityCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  position: absolute;  
  top: 200px;

}

.cityCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 255px;
  height: 70px;
  border: 2px solid;
  padding: 15px 15px;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.cityCardClose{
  position: absolute;
  z-index: 1;
  right: 4%;
  top: 5%;
}

.cardUpdated{
  font-weight: 500;
  font-size: 11px;
  
}
.cardLocationPrimary{
font-size: 16px;
font-weight: 700;
color: #7835b1;

}
.cardLocationSecondary{
  font-size: 11px;
 
}
.cardValues{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 11px;
}

.cardMeasure{
  margin: 2px 0;
}

@media (max-width: 1024px) {
  .cityCardContainer {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  position: absolute;  
  top: 200px;
}
}