.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainFont {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}